<div class="row">
  <div class="large-8 large-centered columns  text-center blog-index ">
    <% @blogs.each do |blog| %>
      <div class="blog-card">
      <h3><b><%= link_to blog.title, @blog %></b></h3>
      <div>posted on <b><%= blog.published_at.strftime("%b %d, %Y") %></b></div>
    </div>
    <% end %>
  </div>
</div>