<div id="about" class="scroll-section">
	<div class="container">
		<div data-aos="fade-down" class="row justify-content-center">
			<h3 class="section_header" >About</h3>
		</div>
		<div class="row">
			<div data-aos="fade-right" class="col">
				<h3>Summary</h3>
				<p class="text-justify">I am Ethiraj Srinivasan, Data Engineer and Machine Learing Enthusiast. I am fond of developing applications that includes Big data or Machine learning components. I did my Masters at National University of Singapore and extensively built my knowledge on Data Science and Machine Learning. I like to apply my knowledge of Software Engineering with Data Science to build Machine Learning software products which are aesthetic, reliable and cherised by users.</p>
			</div>
		</div>
		<div class="row">
			<div data-aos="fade-right" class="col">
				<h3>Open Source</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div data-aos="fade-right" class="col text-center">
				<p><img class="img-fluid" src="http://ghchart.rshah.org/409ba5/ethirajsrinivasan" alt="ethiraj's Github Chart" /></p>
			</div>
		</div>
		<div class="row">
			<div data-aos="fade-right" class="col">
				<h3>Skills</h3>
			</div>
		</div>
		<div class="skills row">
			<div data-aos="fade-right" class="col text-center">
				<svg class="img-fluid" width="960" height="1200" viewBox="0 0 960 1200"></svg>
			</div>
		</div>
		<div class="row">
			<div data-aos="fade-right" class="col">
				<h3>Online Courses</h3>
				<p>Online courses is one way through which I keep updating my knowledge.The following is the list of courses that I have completed.</p>
				<ul>
					<li><a href="https://www.udacity.com/course/new-android-fundamentals--ud851" target="_blank">Developing Android Apps</a></li>
					<li><a target="_blank" href="https://www.udacity.com/course/android-development-for-beginners--ud837">Android Development for Beginners</a></li>
					<li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/J8XQELPD6BRL">Machine Learning by Stanford University on Coursera</a></li>
					<li><a target="_blank" href="http://course.fast.ai/">Practical Deep Learning for Coders</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>