<div id="about" class="scroll-section">
  <div class="container">
    <div data-aos="fade-down" class="row justify-content-center">
      <h3 class="section_header" >About</h3>
    </div>
    <div data-aos="fade-down" class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <img class="img-fluid myphoto" src="https://assets-ethi.appspot.com/images/myphoto.jpg" alt="myphoto"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div data-aos="fade-right" class="col">
        <p class="text-justify">I am Ethiraj Srinivasan, a Data Engineer and Machine Learing enthusiast. I am an experienced software developer, fond of developing applications that includes Big data or Machine learning components. I did my Masters at National University of Singapore and extensively built my knowledge on Data Science and Machine Learning. I like to apply my knowledge of Software engineering with Data Science to build products which are aesthetic, reliable and cherised by users.</p>
      </div>
    </div>
    <div class="row">
      <div data-aos="fade-right" class="col">
        <h4>Open Source</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div data-aos="fade-right" class="col text-center">
        <p><img class="img-fluid" src="http://ghchart.rshah.org/409ba5/ethirajsrinivasan" alt="ethiraj's Github Chart" /></p>
      </div>
    </div>
    <div class="row">
      <div data-aos="fade-right" class="col">
        <h4>Skills</h4>
      </div>
    </div>
    <div class="skills row">
      <div data-aos="fade-right" class="col text-center">
        <svg class="img-fluid" width="960" height="1500" viewBox="0 0 960 1500"></svg>
      </div>
    </div>
    <div class="row">
      <div data-aos="fade-right" class="col">
        <h4>Online Courses</h4>
        <p>Online courses is one way through which I keep updating my knowledge.The following is the list of courses that I have completed.</p>
        <ul>
          <li><a target="_blank" href="https://www.udemy.com/certificate/UC-W4MTQTD7/">Probability and Statistics for Business and Data Science</a></li>
          <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/specialization/certificate/BHLUFD4EKJQH">Data Engineering on Google Cloud Platform Specialization</a></li>
          <li><a target="_blank" href="https://www.udemy.com/certificate/UC-I2KTO1UX/">Scala and Spark for Big Data and Machine Learning</a></li>
          <li><a target="_blank" href="https://www.udemy.com/certificate/UC-43MUCDC1">The ultimate hands on hadoop tame your big data</a></li>
          <li><a target="_blank" href="https://www.udemy.com/certificate/UC-8K2VH2H4/">Complete Guide to TensorFlow for Deep Learning with Python</a></li>
          <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/J8XQELPD6BRL">Machine Learning by Stanford University on Coursera</a></li>
          <li><a target="_blank" href="http://course.fast.ai/">Practical Deep Learning for Coders</a></li>
          <li><a href="https://www.udacity.com/course/new-android-fundamentals--ud851" target="_blank">Developing Android Apps</a></li>
          <li><a target="_blank" href="https://www.udacity.com/course/android-development-for-beginners--ud837">Android Development for Beginners</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>