<div id="about" class="scroll-section">
	<div class="container">
		<div class="row justify-content-center">
			<h3>About</h3>
		</div>
		<div class="row">
			<div class="col">
				<h3>Summary</h3>
				<p class="text-justify">I am Ethiraj Srinivasan, a full stack Developer and Data Scientist. I have enjoyed developing software products for my previous organizations. Then I joined National University of Singapore to do my Masters and extensively built my knowledge on Data Science and Machine Learning. I would like to apply my knowledge of Software Development along with Data Science to build software products which are aesthetic, reliable and cherised by users. I also love to make professional acquaintances.</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Open Source</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col text-center">
				<p><img class="img-fluid" src="http://ghchart.rshah.org/409ba5/ethirajsrinivasan" alt="ethiraj's Github Chart" /></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Now</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 d-flex align-items-stretch">
				<div class="card text-center flex-fill">
					<div class="card-header">
						LEARNING EXPERIENCE
					</div>
					<%= link_to image_tag("https://assets-ethi.appspot.com/images/watching.png",class:"card-img-top",height:"250"), "http://www.fast.ai/" %>
					<div class="card-body">
						<h5 class="card-subtitle"><a target="_blank" href="http://fast.ai">FAST AI</a></h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex align-items-stretch">
				<div class="card text-center flex-fill">
					<div class="card-header">
						NOW WORKING
					</div>
					<%= link_to image_tag("https://assets-ethi.appspot.com/images/learning.jpg",class:"card-img-top",height:"250"), "http://ethigeek.com/portfolios" %>
					<div class="card-body">
						<h5 class="card-subtitle"><%= link_to "Medical Image Diagnostics", "/portfolios/Development%20of%20Deep%20Learning%20Models%20for%20Medical%20Image%20Diagnostics" %></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Skills</h3>
			</div>
		</div>
		<div class="skills row">
			<div class="col text-center">
				<svg class="img-fluid" width="960" height="1200" viewBox="0 0 960 1200"></svg>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Online Courses</h3>
				<p>Online courses is one way through which I keep updating my knowledge.The following is the list of courses that I have completed.</p>
				<ul>
					<li><a href="https://www.udacity.com/course/new-android-fundamentals--ud851" target="_blank">Developing Android Apps</a></li>
					<li><a target="_blank" href="https://www.udacity.com/course/android-development-for-beginners--ud837">Android Development for Beginners</a></li>
					<li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/J8XQELPD6BRL">Machine Learning by Stanford University on Coursera</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>