<div data-aos="fade-right" id="contact" class="scroll-section">
	<div class="container">
		<div class="row justify-content-center">
			<h3 class="section_header">Contact</h3>
		</div>
		<div class="row justify-content-center contact">
			<div class="text-center">
				Follow Me on:
				<a href="https://medium.com/@ethi"><i class="fab fa-medium"></i> Medium </a>
				<a href="https://www.youtube.com/channel/UCkdAJA03TJXhb_tNjTyl_nA?sub_confirmation=1"><i class="fab fa-youtube"></i> Youtube </a>
				<a href="https://www.instagram.com/ethirajchandru/"><i class="fab fa-instagram"></i> Instagram </a>
				<a href="https://www.linkedin.com/in/ethirajsrinivasan/"><i class="fab fa-linkedin"></i>
					LinkedIn </a>
				<a href="https://github.com/ethirajsrinivasan/"><i class="fab fa-github"></i><span> Github </a>
				<a href="https://twitter.com/iamethi"><i class="fab fa-twitter"></i> Twitter </a>
				
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>