<div id="blogs" class="scroll-section">
	<div class="container">
		<div data-aos="fade-right" class="row justify-content-between">
				<div class="col-md-6 col-sm-12 my-auto">
				<h3 class="section_header ">From the Blog</h3></div>
				<div class="col-md-6 col-sm-12 my-auto">
				<h5 class="section_header my-auto float-right"><%= link_to "View All", blogs_path %></h5></div>
		</div>
		<div data-aos="fade-right" class="row text-center">
			<% @blogs.each do |blog| %>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<%=image_tag(blog.picture,class:"img-tile") %>
					<br>
					<h5 class="blog_title"><%= link_to blog.title, blog %></h5>
				</div>
			<% end %>
		</div>
	</div>
</div>