<div class="traverse-section" %>
  <div class="row">
    <div class="large-12 columns">
      <% if @previous_project %>
        <div class="left" %>
          <div class="traverse"><%= @previous_project.title.titleize %></div>
          <%= link_to "&larr; Previous project".html_safe, portfolios_path(title: @previous_project.title) %>
        </div>
      <% end %>
      <% if @next_project %>
        <div class="right" %>
          <div class="traverse"><%= @next_project.title.titleize %></div>
          <div class="right"><%= link_to "Next project &rarr; ".html_safe, portfolios_path(title: @next_project.title) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>