<section>
  <div class="section-heading"></div>
  <div class="section-body">
    <div class="project_links">
      <h5>Project Links</h5>
	  	<ol>
	  	<li><%= link_to "Project",  project.project_link %></li>
	  	<li><%= link_to "Source Code", project.source_link %></li>
	  	</ol>
	  </div>
  </div>
</section>