<section>
  <div class="section-heading"></div>
  <div class="section-body">
    <div class="project_links">
      <h5>Project Links</h5>
      <ul>
      <% if project.project_link.present?  %>
        <li><%= link_to "Project",  project.project_link, target: '_blank' %></li>
      <% end %>
      <% if project.source_link.present?  %>
        <li><%= link_to "Source Code", project.source_link, target: '_blank'  %></li>
      <% end %>
      </ul>
    </div>
  </div>
</section>