<% content_for :title, "About" %>
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1>About Me</h1>
      <!-- <section>
        <div class="section-heading"></div>
        <div class="section-body">
          <h3>Pragmatic, Passionate, Full Stack Developer and Data Scientist.
           I love creating aesthetic, reliable , user-cherising software products.
          </h3>
        </div>
      </section> -->
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about">
        <dl class="metadata"><dt>Languages</dt>
          <dd>Ruby, Python, Java, R</dd>
        </dl>
        <dl class="metadata"><dt>Web Development</dt>
          <dd>HTML & CSS, Javascript</dd>
          <dd>Jquery, Coffeescript</dd>
        </dl>
        <dl class="metadata"><dt>Database Management</dt>
          <dd>Postgres, SQLite & MySQL</dd>
        </dl>
        <dl class="metadata"><dt>Framework</dt>
          <dd>Ruby on Rails, Sinatra</dd>
          <dd>Android, Bootstrap, Foundation</dd>
        </dl>
        <dl class="metadata"><dt>Technologies</dt>
          <dd>Solr, Redis & Memcached</dd>
        </dl>
        <dl class="metadata"><dt>Tools</dt>
          <dd>Git, AWS, R Studio</dd>
          <dd>Google Cloud, Heroku</dd>
          <dd>Digital Ocean, Travis CI</dd>
          <dd>Capistrano, Eclipse</dd>
          <dd>Android Studio</dd>
        </dl>
      </aside>
      <div class="section-content">
        <section>
          <div class="section-heading">Summary</div>
          <div class="section-body">I am Ethiraj Srinivasan, a full stack Developer and Data Scientist. I have enjoyed developing software products for my previous organizations. Then I joined National University of Singapore to do my Masters and extensively built my knowledge on Data Science and Machine Learning. I would like to apply my knowledge of Software Development along with Data Science to build software products which are aesthetic, reliable and cherised by users. I also love to make professional acquaintances.
          <br><br></div>
        </section>
        <section>
            <div class="section-heading">TL;DR</div>
            <div class="section-body tl-dr">
              <ul>
                <li>I love building software products that are aesthetic, reliable and cherised by users.</li>
                <li>3+ years experience in Software Development</li>
                <li>Graduate Student at National University of Singapore
                <li>Full Stack Developer and Data Scientist</li>
              </ul>
            </div>
        </section>
        <!-- <section>
            <div class="section-heading">Story</div>
            <div class="section-body">
        </section> -->
        <!-- <section>
            <div class="section-heading">Writing</div>
            <div class="section-body">
            I write a tech blog to share my experiences. Here are some of my recent writings.
            <ol>
              <li><a target="_blank" href="http://blog.ethigeek.com/Normalizing-Emails-for-Devise">Normalizing Emails for Devise</a>
              </li>
              <li><a href="http://blog.ethigeek.com/Mutually-Exclusive-Alias-Method-And-Prepend" target="_blank">Mutually Exclusive Alias Method And Prepend</a>
              </li>
            </ol>
            Visit my personal <a href="http://blog.ethigeek.com" target="_blank">blog</a> to see more posts.
            <br>
            <br>
            </div>
        </section> -->
        <section>
            <div class="section-heading">Now</div>
            <div class="section-body now-section">
              <div class="row">
                <!-- <div class="large-4 medium-4 columns">
                  <div class="now-card">
                    <a target="_blank" href="https://www.amazon.ca/Peak-Secrets-New-Science-Expertise/dp/0544456238">
                      <div>
                        <h3 class="now-card-title">NOW READING</h3>
                        <%= image_tag("https://assets-ethi.appspot.com/images/deepwork.jpg") %>
                        <h5 class="now-card-subtitle">Deep Work</h5>
                        <p class="now-card-desc"><small>by</small> Cal Newport</p>
                      </div>
                    </a>
                  </div>
                </div> -->
                <div class="large-6 medium-6 columns">
                  <div class="now-card">
                    <h3 class="now-card-title">LEARNING EXPERIENCE</h3>
                    <%= link_to image_tag("https://assets-ethi.appspot.com/images/watching.png"), "http://www.fast.ai/" %>
                    <h5 class="now-card-subtitle">Fast.ai</h5>
                    <!-- <p class="now-card-desc"><small>by</small> Maxim  Buzdalov Pavel Krotkov and Daria Yakovleva</p> -->
                  </div>
                </div>
                <div class="large-6 medium-6 columns">
                  <div class="now-card learning">
                    <a target="_blank" href="http://ethigeek.com/portfolios/Development%20of%20Deep%20Learning%20Models%20for%20Medical%20Image%20Diagnostics">
                    <h3 class="now-card-title">NOW WORKING</h3>
                    <%= image_tag("https://assets-ethi.appspot.com/images/learning.jpg") %>
                    <h5 class="now-card-subtitle">Medical Image Diagnostics</h5>
                    <!-- <p class="now-card-desc">Medical Image Diagnostics</p> -->
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- <section>
          <div class="section-heading">Hobbies</div>
          <div class="section-body">
            I love reading books on my leisure time.Checkout some of the books that i have read <a href="https://www.goodreads.com/user/show/59952899-ethiraj">here</a>
          </div>
        </section> -->
        <section>
          <div class="section-heading">Open source</div>
          <div class="section-body">I love contributing to open source projects and here is the graph showing my contributions over the past one year.
            <div class="github-chart">
              <img src="http://ghchart.rshah.org/409ba5/ethirajsrinivasan" alt="ethiraj's Github Chart" />
            </div>
          </div>
        </section>
        <section>
          <div class="section-heading">Online courses</div>
          <div class="section-body"> Online courses is one way through which I keep updating my knowledge.The following is the list of courses that I have completed.
            <ul>
              <li><a href="https://www.udacity.com/course/new-android-fundamentals--ud851" target="_blank">Developing Android Apps</a>
              </li>
              <li><a target="_blank" href="https://www.udacity.com/course/android-development-for-beginners--ud837">Android Development for Beginners</a>
              </li>
              <li><a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/J8XQELPD6BRL">Machine Learning by Stanford
University on Coursera</a>
              </li>
            </ul>
          </div>
        </section>
<!--         <section>
          <div class="section-heading">About this site</div>
          <div class="section-body">
          </div>
        </section> -->
      </div>
    </div>
  </div>
</div>