<% content_for :title, "Contact" %>
<div class="body_wrapper">
	<h1>Contact</h1>
	<br>
	<div class="row">
		<div class="large-6 small-12 columns">
			<p class="contact_mail">Reach me through any of my social profiles !!</p>
			<ul class="inline-list social-list">
				<li><a class="fi-social-facebook" href="https://www.facebook.com/ethiraj.chandru"></a></li>
				<li><a class="fi-social-googleplus" href="https://github.com/ethirajsrinivasan"></a></li>
				<li><a class="fi-social-instagram" href="https://www.instagram.com/ethirajchandru/"></a></li>
	      <li><a class="fi-social-github" href="https://github.com/ethirajsrinivasan"></a></li>
	      <li><a class="fi-social-twitter" href="https://twitter.com/iamethi"></a></li>
	      <li><a class="fi-social-linkedin" href="https://in.linkedin.com/in/ethirajsrinivasan"></a></li>
	    </ul>
			<p class="contact_mail">You can also drop a mail to <%= mail_to "ethirajsrinivasan@gmail.com" %>. I'd love to hear from you!</p>
		</div>
		<div class="large-6 small-12 columns">
			<iframe height="495" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://ethi.wufoo.com/embed/z1lrnrq31xyyc5h/"></iframe>
		</div>
	</div>
</div>