<div class="about-banner" style="height:380px">
</div>
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1 class="about-header"><%= @project.title.titleize %></h1>
      <section>
        <div class="section-heading"></div>
        <div class="section-body">
          <h3><%= @project.description %>
          </h3>
        </div>
      </section>
      <div class="about-head-description">
        <h3></h3>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about">
        <dl class="metadata"><dt>Skills</dt>
          <dd>User research</dd>
          <dd>Usability testing</dd>
          <dd>User scenarios</dd>
          <dd>Persona creation</dd>
          <dd>Wireframing</dd>
          <dd>Visual design</dd>
          <dd>Front-end development</dd>
          <dd>Rapid prototyping</dd>
          <dd>Accessibility</dd>
          <dd>Information visualization</dd>
        </dl>
        <dl class="metadata"><dt>Design Tools</dt>
          <dd>Pen &amp; Paper</dd>
          <dd>Sketch</dd>
          <dd>Adobe Photoshop</dd>
          <dd>Adobe Illustrator</dd>
        </dl>
        <dl class="metadata"><dt>Prototyping Tools</dt>
          <dd>HTML, CSS &amp; JS</dd>
          <dd>Framer.js</dd>
          <dd>inVision</dd>
          <dd>Pixate</dd>
          <dd>AxureRP</dd>
          <dd>After effects</dd>
        </dl>
        <dl class="metadata"><dt>Dev Tools</dt>
          <dd>HTML &amp; CSS</dd>
          <dd>JavaScript</dd>
          <dd>Angular, React, Ember, D3</dd>
          <dd>Node.js</dd>
          <dd>Ruby on Rails</dd>
          <dd>Git</dd>
          <dd>Grunt, bower, yeoman</dd>
        </dl>
        <dl class="metadata"><dt>Gadgets</dt>
          <dd>MacBook Pro</dd>
          <dd>Nexus 5</dd>
          <dd>Arduino Uno</dd>
          <dd>Nikon D5500</dd>
        </dl>
      </aside>
      <div class="section-content">
        <section>
          <div class="section-heading">Summary</div>
          <div class="section-body">My name is Siddhartha Gudipati. I consider myself a FullStack Designer/UX Unicorn(research, user experience, interaction designer, and a front-end prototyper). I hold a degree both in Computer Science and Human-Centered Design and Engineering. I enjoy designing systems and delightful experiences around.
          <br><br></div>
        </section>
        <section>
            <div class="section-heading">TL;DR</div>
            <div class="section-body tl-dr">
              <ul>
                <li>I love designing products.</li>
                <li>I have 3+ years experience in UX Design and Front-end Engineering.</li>
                <li>I have degrees both in CS and HCI</li>
                <li>I am a UX Unicorn</li>
                <li>I am looking for a full time job</li>
              </ul>
            </div>
        </section>
        <section>
            <div class="section-heading">Story</div>
            <div class="section-body">When I was doing my undergrad in Computer Science and Engineering one of my professors asked me build a site for an conference that was held in our college. It all started from there, I started loving designing websites and my CS course work gave me required skills to put my designs live. My genuine interest in understand people pushed me completely into designing products for that solves their day to day problems using design and tech. Seeing my passion my professor recommended me for different design project they came across. That led me to do many freelance projects and even run my own web design agency for a period. Taking my experience in design, I joining Web 2.0 Innovation labs, TCS Chennai as UX Designer. There I contributed to research, design, prototype, as well as front-end development for 3 years. However, I wanted to get more formal education in the user-centered design process for creating enhanced user experience. With this in mind, I joined Human-Centered Design and Engineering (HCDE) MS program at the University of Washington.
            <br>
            <br>
            Having a Computer Science background, being a UX designer &amp; Front-end developer for 3+ years and a master’s degree in HCDE make me a UX Unicorn. Being a computer science engineer give me an edge over regular UX designer as I can talk to a developer in engineering term and also understand technology limitations. This makes me a critical and strong team member at times a bridge between designers and developers.
              <br>I am looking forward to emerging my zeal for creating delightful and intuitive user experience design as well as interaction design.
            <br>
            <br>
            Feel free to explore my LinkedIn account to learn more about my work and academic experience, or reach out to me directly via the email address me@websiddu.com.
            <br>
            <br>
            </div>
        </section>
        <section>
            <div class="section-heading">Writing</div>
            <div class="section-body">
            I write about life, technology and more. Here are some of my recent writings.
            <ol>
              <li><a target="_blank" href="http://blog.websiddu.com/how-i-implemented-accessibility-for-my-portfolio-website/">How I implemented accessibility for my portfolio website?</a>
              </li>
              <li><a href="http://blog.websiddu.com/integrating-your-node-app-with-uw-saml/" target="_blank">Integrating node apps with UW's SAML</a>
              </li>
            </ol>
            Visit my personal <a href="http://blog.websiddu.com" target="_blank">blog</a> to see more posts.
            <br>
            <br>
            </div>
        </section>
        <section>
            <div class="section-heading">Now</div>
            <div class="section-body">
              <div class="row">
                <div class="large-4 medium-4 columns">
                  <div class="now-card reading no-a-icon">
                    <a target="_blank" class="no-icons" href="https://www.amazon.ca/Peak-Secrets-New-Science-Expertise/dp/0544456238">
                      <div>
                        <h3 class="now-card-title">NOW READING</h3>
                        <%= image_tag("peak.jpg") %>
                        <h5 class="now-card-subtitle">Hooked</h5>
                        <p class="now-card-desc"><small class="muted">by</small> Anders Ericsson and Robert Pool</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="large-4 medium-4 columns">
                  <div class="now-card music">
                    <h3 class="now-card-title">NOW PLAYING</h3>
                    <div class="now-card-img">
                      <!-- ngIf: music.image[3]['#text'] -->
                      <!-- ngIf: !music.image[3]['#text'] --><img ng-src="images/no-cover.png" alt="" ng-if="!music.image[3]['#text']" class="ng-scope" src="images/no-cover.png">
                      <!-- end ngIf: !music.image[3]['#text'] -->
                      <a ng-href="" target="_blank">
                        <div class="now-card-hover">
                          <svg focusable="false" width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg" class="icon-playbutton">
                            <path class="_fill-color" d="M10.5 0C4.977 0 .5 4.477.5 10s4.477 10 10 10 10-4.477 10-10-4.477-10-10-10zm-2 14V6l6 4-6 4z" fill="#ffffff" fill-rule="evenodd" opacity="1"></path>
                          </svg>
                        </div>
                      </a>
                    </div>
                    <h5 class="now-card-subtitle ng-binding" ng-bind-html="music.name"></h5>
                    <p class="now-card-desc"><small class="muted">by</small> <span ng-bind-html="music.artist['#text']" class="ng-binding"></span>
                    </p>
                  </div>
                </div>
                <div class="large-4 medium-4 columns">
                  <div class="now-card learning">
                    <a target="_blank" class="no-icons" href="http://elixir-lang.org/">
                    <h3 class="now-card-title">NOW LEARNING</h3>
                    <%= image_tag("elixir") %>
                    <h5 class="now-card-subtitle">Elixir App Development</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section>
          <div class="section-heading">Hobbies</div>
          <div class="section-body">
            I have many hobbies. If you ask me to name the top 3, I would say <a href="http://cook.websiddu.com" target="_blank">Cooking</a>, <a href="https://www.flickr.com/photos/websiddu" target="_blank">Photography</a> and <a href="https://dribbble.com/websiddu" target="_blank">Sketching</a>.<br>
            <br>
            I feel cooking helps me to sharpen my creativity. I cook Indian food mostly south Indian food. I also experiment by fusion of Indian, Chinese and American recipes. Checkout my cooking blog <a href="http://cook.websiddu.com" target="_blank">here</a>.<br><br>
            I love photography, though I am an amateur some of the pictures that I took are appreciated by many. Checkout my photography skills <a href="https://www.flickr.com/photos/websiddu" target="_blank">here</a>.<br><br>
          </div>
        </section>
        <section>
          <div class="section-heading">Open source</div>
          <div class="section-body">I love contributing to open source projects and here is the graph showing my contributions over the past one year.
            <div class="github-chart">
              <img src="http://ghchart.rshah.org/409ba5/ethirajsrinivasan" alt="ethiraj's Github Chart" />
            </div>
          </div>
        </section>
        <section>
          <div class="section-heading">About this site</div>
          <div class="section-body">
            I hand-coded this website using different open source technologies like Angular.js, CSS, HTML, Ruby On Rails and Mongo DB. My primary goal is to utilize different open source free resource to build my portfolio. I wrote a detailed blogpost about how I built this website, don't forget to checkout the <a href="http://blog.websiddu.com/my-website-is-build-on-open-source/" target="_blank">blogpost here.</a>
            <br>
            <br>This website is completely <span class="text-normal">responsive and accessible</span>. I worked hard for making this website accessible. I wrote a <a href="http://blog.websiddu.com/how-i-implemented-accessibility-for-my-portfolio-website/" target="_blank">blogpost</a> about how I made my portfolio website accessible. Most of the development tasks are automated using grunt and python scripts. You can checkout the source code of my portfolio <a href="http://github.com/websiddu/websiddu" target="_blank">here</a>.<br><br>
            <span class="text-normal">PS:</span> There are many hidden fun easter eggs in this site have fun finding them :)
          </div>
        </section>
      </div>
    </div>
  </div>
</div>