<%= content_for :title, "ethigeek" %>
<div class="body_wrapper">
	<h1>I'm Ethiraj, a full-stack developer</h1>
	<div class="intro-description">
		<h5 class="greyish">I develop software applications.I love coding and hanging out with friends.
		</h5>
	</div>
	<%= render "portfolio" %>
</div>