<div class="spacer"></div>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="show_attributes">
  <% @project.attributes.each do |key,val| %>
    <%= "#{key}: #{val}" %>
    <br>
    <br>
  <% end %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
