// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#file {
	.highlight {
		pre {
			margin-bottom: 1em;
			padding: 1em;
			overflow: auto;
			font-size: 1em;
			background: #e4e4e4;
			border-radius: .75em;
		}
	}
	p{
	line-height: 2em;
	text-align: justify
	}
	code {
		border-radius: 0.3em;
	}
	li {
		line-height: 2em;
		text-align: justify
	}
}

.anchor {
	svg {
		display:none;
	}
}

#blogs {
	.img-tile {
		width: 100%;
		height: 195px;
		object-fit: cover;
	}
}

.published_at {
	color: black
}

.position{
	color: grey
}

.profile {
		border-radius: 4em;
		margin-right: 1em;
}

.blog-index {
	a:hover {
	color: #008CBA
	}
}

.blog-card {
	margin-top: 2em;
	margin-bottom: 2em;
	b {
		color: #666
	}
}

blockquote p{
	text-align: center !important
}

.blog_post_header {
	color: black !important;
	height: 4rem;
	display:block;
}

.blog_short_content {
	height: 7rem
}