p {
   text-align: justify
}
li {
   line-height: 2em;
   text-align: justify
}

.gadgets img{
   width: 150px;
   height: 150px
}

.books img{
   width: 80px;
   height: 120px;
   margin-bottom: 1em
}

.books .fs-6 {
   margin-bottom: 1em
}

.accessories img{
   width: 150px;
   height: 150px
}
