// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0 !important;
}

.fixed {
  border-bottom: 1px solid #dadada;
  .top-bar {
  	margin-left: 3em;
  	margin-right: 3em;
  }
}

.social-list {
 	display: table;
 	margin: 0 auto;
 	padding: 1em 0;
 	font-size: 2em;
 	.fi-social-twitter {
 		color: #1da1f2;
 		&:hover {
 			color: #1da1f2;
 			background-color: inherit;
 		}
 	}
 	.fi-social-linkedin {
 		color: #1884bb;
 		&:hover {
 			color: #1884bb;
 			background-color: inherit;
 		}
 	}
 	.fi-social-github {
 		color: #333;
 		&:hover {
 			color: #333;
 			background-color: inherit;
 		}
 	}
}

.body_wrapper {
	margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
}
.row {
	max-width: 100%
}

.greyish {
	color: #555555
}

.greyish-light {
	color: #999999
}

.footer {
	border-top: 1px solid #dadada;
}


.project_thumbnail_wrapper {
	.project_title {
		padding: .5em;
		border: 1px solid #dadada;
	}
}

