p {
   text-align: justify
}
li {
   line-height: 2em;
   text-align: justify
}

.gadgets img{
   width: 150px;
   height: 150px
}

.books img{
   width: 120px;
   height: 180px;
   margin-bottom: .5em
}
