body {
	position: relative;
}
.navbar-trans {
	background: transparent; }
.cover {
	background: #2b2d34 center;
	background-size: cover;
	height: auto;
	border-radius: 0;
	width: 100%;
	color: #fff;
	padding-top: 1rem;
	.navbar-brand {
		color: white !important;
	}
	a.nav-link {
		color: white !important;
		text-transform: uppercase;
		font-family: "Raleway",sans-serif;
		&:hover {
			color: #f27e25 !important
		}
	}
	.navbar-brand {
		font-family: 'Alex Brush',cursive;
	font-size: 30px;
	}

}
.fixed-top.scrolled,.nav-icon-background {
  background-color: #b8b8b8 !important;
  transition: background-color 200ms linear;
  box-shadow: 0 0 3px 0     rgba(0 ,0 ,0 ,0.1) !important;
  a.nav-link {
		color: black !important;
		&:hover {
			color: #f27e25 !important
		}
	}
	.navbar-brand {
		color: black !important;
		&:hover {
			color: #f27e25 !important
		}
	}
	a.nav-link.active{
		color: #f27e25 !important
	}
}
.navbar-toggler {
	border: none !important;
}

.scroll-section{
	height: auto;
	padding-top: 5em;
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.cover {
		min-height: 51rem !important;
		.navbar {
			padding-right: 10em !important;
			padding-left: 10em !important;
		}
		.nav-link {
			font-size: .85em;
		padding: 1.5em 1em 1em 1em!important;
		}
	}

}